* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: black;
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%; /* Adjust padding for responsiveness */
}

ul {
    list-style: none;
}

.navlink {
    display: inline-block;
    padding: 0px 20px;
}

li, .navlink a {
    font-weight: 600;
    font-size: 16px;
    color: black;
    text-decoration: none;
    transition: all 250ms ease 0ms;
}

.navlink a:hover {
    color: orange;
}

.profile {
    width: 30%; /* Adjust width for responsiveness */
    float: right;
    margin-left: 5%; /* Adjust margin for responsiveness */
    border-radius: 50%;
    background-color: orange;
}

.testing {
    width: 40%; /* Adjust width for responsiveness */
    margin-top: 15%; /* Adjust margin for responsiveness */
    position: absolute;
    z-index: -1;
}

.grey {
    width: 200px; /* Adjust width for responsiveness */
    position: absolute;
    margin-left: 10%; /* Adjust margin for responsiveness */
    transform: rotate(50deg);
    z-index: -1;
}

.intro {
    padding-top: 100px;
    display: inline-block;
    padding-bottom: 200px;
}

.introt {
    margin: 12% auto; /* Center the element horizontally */
    position: absolute;
    font-size: 300%;
}

.logo {
    color: #E0144C;
    font-size: 30px;
}

.logo:hover {
    cursor: pointer;
    transform: scale(2);
}

.shadesh {
    color:#E0144C;
}

.about-me {
    text-align: center;
    line-height: 1.5rem;
    padding: 0px 5%; /* Adjust padding for responsiveness */
}

.headings {
    text-align: center;
    padding: 20% 0px; /* Adjust padding for responsiveness */
    line-height: 1.5rem;
    font-weight: 800;
    color: orange;
    font-size: 30px;
}

footer, footer a {
    background-color: orange;
    padding: 5% 3%;
    text-decoration: none;
    text-align: center;
}

.copy {
    line-height: 3rem;
}

@media screen and (max-width: 1137px) {
    /* Add your responsive styles for this breakpoint */
}

@media screen and (max-width: 765px) {
    /* Add your responsive styles for this breakpoint */
}

@media screen and (max-width: 480px) {
    /* Add your responsive styles for this breakpoint */
}

@media screen and (max-width: 400px) {
    /* Add your responsive styles for this breakpoint */
}
