* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: black;
    box-sizing: border-box;
}


p {
    font-size: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

ul {
    list-style: none;
}

.navlink {
    display: inline-block;
    padding: 0px 20px;
}

li, .navlink a {
    font-weight: 600;
    font-size: 16px;
    color: black;
    text-decoration: none;
    transition: all 250ms ease 0ms;
}


.navlink a:hover {
    color: orange;
}

.profile {
    width: 400px;
    float: right;
    margin-left: 75rem;
    border-radius: 50%;
    background-color: orange;
}

.testing {
    width: 700px;
    position: absolute;
    z-index: -1;
}

.grey {
    width: 300px;
    position: absolute;
    margin-left: 80%;
    transform: rotate(50deg);
    z-index: -1;
}


.intro {
    padding-top: 100px;
    display: inline-block;
    padding-bottom: 200px;
}

.introt {
    margin: 12% 39%;
    position: absolute;
    font-size: 300%;

}
.logo {
    color: #E0144C;
    font-size: 30px;
}

.logo:hover {
    cursor: pointer;
    transform: scale(2);
}

.shadesh {
    color:#E0144C;
}

.about-me {
    text-align: center;
    line-height: 1.5rem;
    padding: 0px 30px 200px;
}

.headings {
    text-align: center;
    padding: 250px 0px 20px 0px;
    line-height: 1.5rem;
    font-weight: 800;
    color: orange;
    font-size: 30px;
}

footer, footer a {
    background-color:orange;
    padding: 5% 3%;
    text-decoration: none;
    text-align: center;
}

.copy {
    line-height: 3rem;
}


@media screen and (max-width: 1137px) {
    .profile {
        width: 30%;
        float: right;
        margin-left: 700px;
        border-radius: 50%;
        background-color: orange;
    }
    
    .testing {
        width: 40%;
        margin-top: 15%;
        position: absolute;
        z-index: -1;
    }
    
    .grey {
        width: 300px;
        position: absolute;
        margin-left: 400px;
        transform: rotate(50deg);
        z-index: -1;
    }
    .introt {
        margin: 130px 500px;
        position: absolute;
        font-size: 40px;
    
    }

}

@media screen and (max-width: 765px) {
    .profile {
        width: 40%;
        float: right;
        margin-left: 415px;
        border-radius: 50%;
        background-color: orange;
    }
    
    .testing {
        width: 300px;
        margin-top: 300px;
        position: absolute;
        z-index: -1;
    }
    
    .grey {
        width: 200px;
        position: absolute;
        margin-left: 200px;
        transform: rotate(50deg);
        z-index: -1;
    }
    .introt {
        margin: 130px 20px 0px 15px;
        position: absolute;
        font-size: 27px;
        
    
    }

}

@media screen and (max-width: 480px) {
    .profile {
        width: 50%;
        float: right;
        margin-left: 200px;
        border-radius: 50%;
        background-color: orange;
    }
    
    .testing {
        width: 200px;
        margin-top: 300px;
        position: absolute;
        z-index: -1;
    }
    
    .grey {
        width: 200px;
        position: absolute;
        margin-left: 100px;
        transform: rotate(50deg);
        z-index: -1;
    }
    .introt {
        margin: 130px 200px 0px 15px;
        position: absolute;
        font-size: 20px;
        
    
    }

}


@media screen and (max-width: 400px) {
    
    .profile {
        width: 50%;
        float: right;
        margin-left: 200px;
        border-radius: 50%;
        background-color: orange;
    }
    
    .testing {
        width: 200px;
        margin-top: 300px;
        position: absolute;
        z-index: -1;
    }
    
    .grey {
        width: 200px;
        position: absolute;
        margin-left: 100px;
        transform: rotate(50deg);
        z-index: -1;
    }
    .introt {
        margin: 130px 200px 0px 15px;
        position: absolute;
        font-size: 20px;
        
    
    }

}

